[Unit]
Description=First time create viewer certs
After=libvirtd.service

[Service]
Type=oneshot
ExecStart=/bin/sh /auto-generate-certs.sh

[Install]
WantedBy=multi-user.target
